@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: '#003bc7';
}
.timeline-icon {
    max-height: 80%;
    max-width: 80%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.grecaptcha-badge { visibility: hidden; }